.features {
  background-color: $white-background-color;

  &-list {
    display: block;
  }
  &-items {
    &::before {
      display: block;
      content: '';
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f5f4fa;
      border-radius: 4px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-title {
    margin-bottom: 10px;
    width: 270px;
    height: 16px;

    font-weight: $font-weight-title;
    font-size: $font-size-title;
    line-height: $font-height-title;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $black-text-color;
  }
  &-description {
    width: 270px;
    height: 75px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $description-text-color;
  }
}
.icon {
  &-antenna::before {
    background-image: url(../images/features/antenna.svg);
  }
  &-clock::before {
    background-image: url(../images/features/clock.svg);
  }
  &-diagram::before {
    background-image: url(../images/features/diagram.svg);
  }
  &-astronaut::before {
    background-image: url(../images/features/astronaut.svg);
  }
}
