.header {
  position: relative;
}

.navigation-menu {
  @media screen and (max-width: 767px) {
    display: block;
    width: 99px;
    height: 155px;
    margin: 0px auto;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 32px;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    &-item:not(:last-child) {
      padding-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }

  & .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: $black-text-color;
    padding-bottom: 32px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  & .link.current {
    color: $accent-color;
    position: relative;
    @media screen and (max-width: 767px) {
      padding-bottom: 8px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      display: flex;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 15%;
    }
  }
}

.menu-button {
  display: inline-flex;
  margin-left: auto;
  border: none;

  &:hover {
    fill: $accent-color;
  }

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
    border: none;
  }
  &.is-open .icon-menu {
    display: none;
  }

  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
    border: 0px;
  }
}

.menu-container {
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;

    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $white-background-color;
    z-index: 1;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

// .menu-container {
//   background-color: teal;
//   padding: 20px;
//   text-align: center;
//   font-size: 20px;

//   &.is-open {
//     display: block;
//   }

//   @media screen and (min-width: 768px) {
//     display: block;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;

//     height: 400px;
//   }
// }
// .navigation {
//   display: block;
//   margin: 0px auto;
//   @media screen and (min-width: 768px) {
//     display: flex;
//   }
// }
