.hero {
  width: 100%;

  @media screen and (max-width: 479px) {
    width: 100%;
    height: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
    screen and (min-resolution: 192dpi) and (max-width: 479px),
    screen and (min-resolution: 2dppx) and (max-width: 479px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 480px) {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;
    background-color: $hero-background-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet.jpg);

    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 280px;
    height: 600px;
    background-color: $hero-background-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-deckstop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200x),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-deckstop@2x.jpg);
  }

  &-title {
    display: block;
    margin: 0 auto;
    width: 360px;
    height: 84px;

    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-text-color;

    @media screen and (max-width: 479px) {
      width: 100%;
      height: auto;
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;
      height: 120px;

      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
  }
  &-button {
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0px auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white-text-color;
    background: $accent-color;

    @media screen and (max-width: 479px) {
      display: block;
      width: 200px;
      height: auto;
    }
  }
}
