.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

    margin-right: 93px;
  }

  .footer & {
    margin-right: 0px;
  }
}
.header-logo {
  color: $black-text-color;
}
.footer-logo {
  color: $white-text-color;
}
