.subscribe-form {
  width: 570px;
}
.subscribe-form__title {
  color: $primary-color;
  @include font(700, 14px, 1.14);
  text-transform: uppercase;

  margin-bottom: 20px;
}
.subscribe-form__btn {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px 28px;
  border-image-width: 0px;

  box-shadow: 0px 4px 4px $btn-shadow;
}
.subscribe-form {
  margin-left: 10px;
}
.subscribe-form__input {
  width: 353px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  @include font(null, 16px, 1.25);

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  transition: border 250ms $timing-function;
  outline-style: inherit;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
