*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: $main-font;
}
.adress {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    border-bottom: none;
  }

  .clients & {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
  .features & {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .footer & {
    display: block;
    // display: flex;
    // align-items: baseline;
    // justify-items: center;
  }
  .header & {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

    @media screen and (min-width: 1200px) {
      border-bottom: none;
    }
  }
  .specialization & {
    padding-bottom: 94px;
  }
  .ourteam & {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .header-portfolio & {
    display: block;

    // display: flex;
    // align-items: center;
  }
  & .work {
    display: block;

    // display: flex;
    // flex-wrap: wrap;
    // padding-top: 94px;
    // padding-bottom: 94px;
  }
  .works & {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  & .work {
    display: block;

    // display: flex;
    // flex-wrap: wrap;
  }
}

// .container {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: auto;

//   .clients & {
//     padding-top: 94px;
//     padding-bottom: 94px;
//     text-align: center;
//   }
//   .features & {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   .footer & {
//     display: flex;
//     align-items: baseline;
//     justify-items: center;
//   }
//   .header & {
//     display: flex;
//     align-items: center;
//   }
//   .specialization & {
//     padding-bottom: 94px;
//   }
//   .ourteam & {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   .header-portfolio & {
//     display: flex;
//     align-items: center;
//   }
//   & .work {
//     display: flex;
//     flex-wrap: wrap;
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   .works & {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   & .work {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }
