$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

$primary-text-color: #757575;
$tittle-text-color: #212121;
$accent-color: #2196f3;
$primary-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$btn-hover-bgcolor: #188ce8;
$gallery-item-border-color: #eeeeee;
$gallery-filter-bg-color: #f5f4fa;
$team-bg-color: #f5f4fa;
$hero-bg-color: #c4c4c4;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$header-border-color: #ececec;
$btn-shadow: rgba(0, 0, 0, 0.15);
$team-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
