$main-font: Roboto, normal, sans-serif;
$secondary-font: Raleway, normal, sans-serif;

$font-weight-title: 700;
$font-size-title: 14px;
$font-height-title: 1, 143;

$accent-color: #2196f3;
$black-text-color: #212121;
$description-text-color: #757575;
$white-background-color: #ffffff;
$white-text-color: #ffffff;
$hero-background-color: rgba(47, 48, 58, 0.4);
$ourteam-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$adress-item-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$header-border-bottom: #ececec;
$background-color-work-img-thumb: rgba(33, 150, 243, 0.9);
$background-color-backdrop: rgba(0, 0, 0, 0.2);
